ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(146, 90, 22);
  position: -webkit-sticky;
  position: sticky;
  position: fixed;
  top: 0;
  width: 100%;
}
li {
  float: left;
}
li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: "Kanit", Times, serif;
}
li a:hover:not(.active) {
  background-color: rgba(204, 143, 72, 0.658);
}
.active {
  background-color: rgba(255, 240, 220, 0.477);
}
@media screen and (max-width: 600px) {
}

h1 {
  font-family: "Bebas Neue", "Combo";
  font-size: 50px;
  text-align: center;
  color: rgba(165, 66, 13, 0.817);
}
h2 {
  font-family: "Tangerine", Verdana, Tahoma, sans-serif;
  font-size: 50px;
  text-align: center;
  color: rgba(165, 66, 13, 0.817);
}
h3 {
  font-family: "Combo", "Tangerine", Verdana, Tahoma, sans-serif;
  font-size: 25px;
}
h4 {
  font-family: "Combo", "Dancing Script";
  font-size: 30px;
}
.awards {
  width: 100%;
}
.font-effect-neon {
  color: rgba(255, 244, 229, 0.658);
  background-color: white;
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  margin-left: 10%;
}
.grid-item {
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  text-align: center;
}
